<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img slot="start" src="/assets/img/logo_white.png" style="height: 45px; width: 60px;"></ion-img>
    <ion-title class="ion-text-lg-center">
      {{this.urlFloor}}층 OLAF
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card-content id="fixedScroll">
    <p *ngIf="this.runningData.isRunning == 0" class="ion-padding-start ion-padding-end">
      <ion-button (click)="presentActionSheet()" expand="block" fill="outline">
        미래관 {{floorNum}}층 목적지
      </ion-button>
    </p>
    <p *ngIf="this.runningData.isRunning != 0">
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="{{this.runningData.isRunning == 2 ? 'arrow-forward-circle-outline' : this.runningData.icon}}" style="width: 100%; height: 100%;"></ion-icon>
        </ion-avatar>
        <ion-label>
          {{this.runningData.isRunning == 2 ? '중앙 엘리베이터' : this.runningData.name}} 이동중
        </ion-label>
      </ion-item>
    </p>
  </ion-card-content>

  <hr align="center" style="border: solid 1px #e0ac08; height: 0px; width: 90%;"/>

  <ion-list>
    <div *ngIf="this.runningData.isRunning != 0" id="block"></div>

    <ion-item button *ngFor="let floor of floorData; let i = index" (click)="alert(floor)">
      <ion-avatar slot="start">
        <ion-icon name="{{floor.icon}}" style="width: 100%; height: 100%;"></ion-icon>
      </ion-avatar>
      <ion-label>
        &nbsp;&nbsp;{{floor.name}}
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>