<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

<!--  <app-explore-container name="Tab 1 page"></app-explore-container>-->

  <div id="container">
    <!--
    <ion-button [color]="$any('primary')">primary</ion-button>
    <ion-button [color]="$any('secondary')">secondary</ion-button>
    <ion-button [color]="$any('tertiary')">tertiary</ion-button>
    <ion-button [color]="$any('warning')">warning</ion-button>
    <ion-button [color]="$any('danger')">danger</ion-button>
    <ion-button [color]="$any('light')">light</ion-button>
    <ion-button [color]="$any('medium')">medium</ion-button>
    <ion-button [color]="$any('success')">success</ion-button>
    <ion-button [color]="$any('warning')">warning</ion-button>
    -->
<!--  </div>-->

<!--  <div id="container">-->
    <strong>Tab 1 page</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <div>
    Testing
  </div>

</ion-content>
